@tailwind base;
@tailwind components;
@tailwind utilities;

#delete:hover
{
    color: black;
}
.dark-mode
{
    background-color: black;
}
.dark-mode #logo
{
    color: #ac94fa;
}
.dark-mode #dark
{
    color: #fff44f;
}
.dark-mode .note
{
    background-color: #6c577e;
}
.dark-mode #delete
{
    color: #362c3f;
}
.dark-mode #delete:hover
{
    color: black;
}
.dark-mode .note.new
{
    background-color: #548076;
}
.dark-mode textarea
{
    background-color: #548076;
}
.dark-mode textarea::placeholder{
    color: #40404F;
  }
.dark-mode .save
{
    background-color: #324c46;
}
.dark-mode .search
{
    background-color: #848482;
}
.dark-mode .search input
{
    background-color: #848482;
}
.dark-mode input::placeholder{
    color: #40404F;
  }
.note
{
    background-color: #d7aefb;
    color: black;
    font-size: 20px;
    font-family: Gilroy;
    font-Weight: bold;
    border-radius: 20px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}
.note-footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note.new
{
    background-color: #a7ffeb;
}
textarea
{
    border: none;
    resize: none !important;
    background-color: #a7ffeb;
    font-family: Gilroy;
    font-Weight: bold;
}
textarea:focus
{
    outline:none;
}
textarea::placeholder{
    color: #71797E;
  }
.save
{
    background-color: #64998d;
    color: white;
    font-family: Gilroy;
    font-Weight: bold;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.save:hover
{
    background-color: black;
}
.delete-icon
{
    cursor: pointer;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container
{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
}
#logo
{
    font-family: Gilroy;
    font-Weight: bold;
    color: #6d28d9;
    font-size: 50px;
    padding-top: 1vw;
    padding-bottom: 15px;
    margin-left: 6px;
    text-decoration: none;
}
#dark
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 40px;
    width: 40px;
    color: black;
}
.notes-list
{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.search
{
    display: flex;
    align-items: center;
    background-color: #d1d1d1;
    border-radius:12px;
    padding: 5px;
    margin-bottom: 1.5em;
    font-size: 20px;
    font-family: Gilroy;
    font-Weight: bold;
    margin-left: 0.7vw;
    margin-right: 0.8vw;
}
.search input
{
    border: none;
    background-color: #d1d1d1;
    font-Weight: bold;
    width: 100%;
}

.search input:focus
{
    outline: none;
    font-Weight: bold;
}
input::placeholder{
    color: #71797E;
  }

  @media only screen and (min-width: 320px) and (max-width: 768px)
  {
    .search
    {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #logo
    {
        padding-bottom: 85px;
    }
}