@font-face {
    font-family: "Gilroy";
    src: 
    url('./Gilroy-Regular?#iefix') format('embedded-opentype'), 
    url('./Gilroy-Regular.woff') format('woff'), 
    url('./Gilroy-Regular.ttf') format('truetype'),
    url('./Gilroy-Regular.svg#svgFontName') format('svg');
}

#headerStyles
{
    font-size: 3.5vw;
    font-family: Gilroy;
    color: #ac94fa;
    font-Weight: bold;
    /* text-shadow: 0px 1px, 1px 0px, 1px 0px;  */
}
#headerStyles2
{
    font-size: 2.4vw;
    font-family: Gilroy;
    color: #cdbffd;
    font-Weight: bold;
    padding-top: 0;
}
#logo1
{
    width: 3.5vw;
    height: 3.5vw;
}
@media only screen and (min-width: 320px) and (max-width: 768px)
{

#headerStyles
{
    font-size: 8vw;
    font-family: Gilroy;
    color: white;
    font-Weight: bold;
    /* textShadow: '0px 1px, 1px 0px, 1px 0px'; */
}
#headerStyles2
{
    font-size: 8vw;
    font-family: Gilroy;
    color: #ac94fa;
}
#logo1
{
    width: 8vw;
    height: 8vw;
    margin-left: 0px;
}
}